// .row {
// 	padding-left: 4rem;
// 	padding-right: 4rem;
// 	width: 100%;
// }
.container {
	width: 1400px;
	// padding-right: 8rem;
	// padding-left: 8rem;
	margin-right: auto;
	margin-left: auto;
}

body {
	width: 100vw;
}
