.statistics {
	width: 100vw;
	background-color: $colorBackground;
	margin-top: 7rem;
	opacity: 0.95;
}

.statistics__container {
	padding: 7rem 0;
	display: flex;
	justify-content: space-evenly;
}
.statistics__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	align-items: center;
}
.statistics__image {
	width: 6rem;
	height: 6rem;
}
.statistics__heading {
	font-size: 3.2rem;
	font-weight: 700;
	color: $colorWhite;
	margin-top: 1rem;
}
.statistics__info {
	font-size: 1.4rem;
	color: $colorWhite;
	margin-top: 1.5rem;
}
