/** COLOR VARIABLES **/
$colorPrimary: #5c93ea;
$colorBackground: #13141c;
$colorWhite: #ffffff;
$colorHeading: #333333;
$colorBackground: #202c45;
$colorSmallText: #666666;
$colorGrayDots: #333;

/** FONT VARIABLES **/

$fontPrimary: "Open Sans", sans-serif;
