/** COLOR VARIABLES **/
$colorPrimary: #5c93ea;
$colorBackground: #13141c;
$colorWhite: #ffffff;

/** FONT VARIABLES **/
$fontPrimary: "Source Code Pro", monospace;
$fontSecondary: "DejaVu Sans Mono", sans-serif, monospace;
